@import 'reset-css/sass/_reset';
@import 'shared';
@import 'localReset';
@import 'config/bootstrap';
@import 'theme/buttons';
@import 'theme/typography';

body {
  font-family: $font-primary;
}

html {
  color: $black;
  font-size: 10px;
}

section {
  padding-top: px(40);
  padding-bottom: px(40);

  > *:not(:last-child) {
    padding-bottom: px(40);
  }
}

textarea {
  min-height: px(250);
  padding: px(10);
  width: 100%;
}

.desktop-only {
  display: none;
}

.spacing-medium-bottom {
  margin-bottom: px(20);
}

@include breakpoint(medium-tablet) {
  .main-wrapper section {
    padding-top: px(100);
    padding-bottom: px(100);
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inherit;
  }
}
