@import 'styles/shared.scss';

.reviewCard {
  .review {
    border-radius: px(3);
    box-shadow: $card-box-shadow;
    padding: px(10);

    .buttonContainer {
      margin-top: px(15);
      button {
        margin-right: px(15);
      }
    }
  }

  .response {
    margin-top: px(20);
  }
}
