@import 'styles/shared';

.button {
  border-radius: px(4);
  display: inline-block;
  line-height: px(40);
  margin-top: px(15);
  min-width: px(200);
  padding: 0 px(15);

  &:disabled {
    background-color: $gray;
    color: $rich-gray;
    cursor: pointer;
  }

  &.danger {
    background-color: $danger;
    color: $white;
  }

  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.success {
    background-color: $green;
    color: $white;
  }

  &.info {
    background-color: $info-blue;
    color: $white;
  }
}
