@import 'styles/shared';

.SubmitReviewBox {
  padding: px(5) 0;

  .rating {
    margin: px(10) 0;
  }

  .error {
    color: $error;
    display: block;
    // padding: 0 px(10);
    margin-top: px(5);
  }
}
